body {
	font-family: arial, sans-serif;
}

.auth-form {
	padding: 1rem;
	border: 0.15rem solid black;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 90%;
	max-width: 18rem;
}

.auth-form input {
	margin: 0.5rem 0;
	width: 98%;
}

.cta-container {
	margin-bottom: 1rem;
}

.error-container {
	border: 0.15rem solid red;
	padding: 0.15rem;
}

.nav-content {
	display: flex;
	justify-content: space-between;
}

.nav-tabs {
	display: flex;
	justify-content: flex-end;
}

.content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.list-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	border-right: 2px solid black;
}

.list {
	margin: 0 2rem;
}

.list-header {
	text-transform: uppercase;
}

.list-item {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0;
	border-bottom: 2px solid black;
}

.down {
	color: red;
}

.up {
	color: green;
}

.no-change {
	color: grey;
}

.item-transaction {
	text-transform: uppercase;
}

.item-symbol {
	text-transform: uppercase;
}

.button {
	outline: none;
	border: 2px solid black;
	padding: 10px 12px;
	box-shadow: 2px 2px;
}

.button:hover {
	box-shadow: 4px 4px;
}

.button:active {
	color: white;
	background-color: black;
}
